---
import ContentOnlyLayout from "../layouts/ContentOnlyLayout.astro";
import Signature from "../components/branding/Signature.svelte";
---

<ContentOnlyLayout>
    <div class="fill-screen error-page">
        <p class="signature-holder"><Signature /></p>
        <h1>well, that's awkward</h1>
        <>
            Looks like an unexpected error has occured.
            Don't worry, this is on our end. 
            We're working on fixing it!
        </p>
        <p>
            <a class="button primary" href="/">Back to home page</a>
        </p>
    </div>

    <style scoped>
        .error-page {
            padding-inline: var(--hero-margin);
            padding-bottom: 25px;
            display: flex;
            gap: 8px;
            flex-direction: column;
            justify-content: center;
        }

        .signature-holder {
            font-size: min(calc(1vw + 1em), 3em);
        }

        h1 {
            font-size: min(calc(2vw + 2em), 6em);
            line-height: 0.85;
            transform: skewY(-6deg);
            transform-origin: bottom left;
            margin-block: 0.8em 0.5em;
            text-shadow:
                1px 1px var(--background-4),
                2px 2px var(--background-4),
                3px 3px var(--background-4),
                4px 4px var(--background-4),
                5px 5px var(--background-4)
        }

        @media screen and (width <= 640px) {
            .error-page {
                justify-content: end;
            }
        }

        .signature {
            font-size: 2em;
            text-shadow: none;
        }
    </style>
</ContentOnlyLayout>
