---
import MainLayout from "../layouts/MainLayout.astro";
export const prerender = false; 

Astro.cookies.delete('token');

return Astro.redirect('/')
---

<MainLayout>
	<h1>Logging out...</h1>
</MainLayout>