---
import "../styles/main.css";
export const prerender = false;

const { env } = Astro.locals.runtime;
const { title = "Nekomment" } = Astro.props;

const user = await env.NEKOMMENT_API.checkUser(Astro.cookies.get('token')?.value ?? '');

const type = (()=>{
    switch (user.data?.type || 0) {
        case 0: return 'Free';
        case 1: return 'Plus';
        case 99: return 'Admin';
    }
})();
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/favicon.svg" />
        <title>{title}</title>
        <slot name="head" />
    </head>
    <body>
        <header>
            <nav>
                <slot name="nav">
                    <a href="/">Home</a>
                    <a href="/">Showcase</a>
                    <a href="/">FAQs</a>
                </slot>
            </nav>
            <div>
                {
                    user.data ?
                        <Fragment>
                            <p>{user.data.name} ({type})</p>
                            <a href="/dash">Dashboard</a>
                            <a href="/logout">Logout</a>
                        </Fragment> :
                        <Fragment>
                            <a href="/login">Login</a>
                            <a href="/register">Register <i>(it's free!)</i></a>
                        </Fragment>
                }
            </div>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <div>
                <h2><img src="/favicon.svg" width="16" /> Nekomment</h2>
                <p>A comments system.</p>
            </div>
            <div class="links">
                <div>
                    <a href="/">Home</a>
                    <a href="/">API Docs</a>
                </div>
                <div>
                    (c) Indiefellas, 2025. Nekomment is under Apache License 2.0.
                </div>
            </div>
        </footer>
    </body>
</html>
