---
import MainLayout from "../../layouts/MainLayout.astro";

const { env } = Astro.locals.runtime;

const hosts = await env.NEKOMMENT_API.getHosts(Astro.cookies.get('token')?.value ?? '');
if (!hosts.success) return Astro.redirect('/login?redirect=' + Astro.url.pathname, 302);

if (hosts.data?.length === 1) {
    return Astro.redirect('/dash/' + hosts.data[0].host)
}
---

<MainLayout>
    <Fragment slot="nav">
        <i>Select a host</i>
    </Fragment> 

    <h1>Hosts</h1>
    {hosts.data?.map(h => <p>{h.host}</p>)}
</MainLayout>
