---
import Signature from "../branding/Signature.svelte";

const { user } = Astro.props;
const { env } = Astro.locals.runtime;

const hosts = await env.NEKOMMENT_API.getHosts(Astro.cookies.get('token')?.value ?? '');
if (!hosts.success) return Astro.redirect('/login?redirect=' + Astro.url.pathname, 302);

const pages = await env.NEKOMMENT_API.getPages(Astro.cookies.get('token')?.value ?? '');
if (!pages.success) return Astro.redirect('/login?redirect=' + Astro.url.pathname, 302);
---

<div class="fill-screen">
    <div class="dashboard-container">
        <div class="left">
            <h1>Hello, {user.data.name}<i>!</i></h1>
            <hr />
            <div class="hosts-container">
                <div class="heading">
                    <h2>Hosts</h2>
                    <a href="/dash/add-host" class="button primary">Add new</a>
                </div>
                <div class="hosts-list">
                    {hosts.data?.map(h => 
                        <a class="button" href={"/dash/" + h.host}>
                            <h2>{h.host}</h2>
                            <p>{h.comments?.length || 0} total comments</p>
                        </a>
                    )}
                    {hosts.data?.length === 0 && <p>No hosts yet!</p>}
                </div>
            </div>
            <hr />
            <div class="hosts-container">
                <div class="heading">
                    <h2>Pages</h2>
                    <a href="/dash/add-page" class="button primary">Add new</a>
                </div>
                <div class="hosts-list">
                    {pages.data?.map(h => 
                        <a class="button" href={"/dash/" + h.hostName + "/pages/" + h.name}>
                            <h2>{h.name}</h2>
                            <p>{h.hostName}</p>
                        </a>
                    )}
                    {pages.data?.length === 0 && <p>No pages yet!</p>}
                </div>
            </div>
        </div>
        <div class="right">
            <h1>News</h1>
            <div class="card">
                <h2>Work in progress!</h2>
                <p>Please note that Nekomment is still work in progress!</p>
            </div>
        </div>
    </div>
</div>

<style scoped>
    .dashboard-container {
        margin-inline: var(--main-margin);
        margin-top: 12px;
        display: grid;
        grid-template-columns: 0.65fr 0.35fr;
        gap: 25px;
    }

    hr, .right h1 {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid var(--background-3);
    }

    .right h1 {
        margin-bottom: 0;
    }

    .left {
        container: left;
    }

    .right {
        border-radius: 5px;
    }

    .hosts-container {
        margin-top: 12px;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

        .hosts-list {
            margin-top: 12px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;

            a {
                text-decoration: none;
                padding: 10px;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (width <= 900px) {
        .dashboard-container {
            grid-template-columns: 1fr;
        }

        .hosts-container {
            .hosts-list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
</style>